body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("imgres.jpg")
       
}
main {
    flex: 1 0 auto;
}


.ToDoList-post {
    margin-bottom: 60px;
}

.ToDoList-post-title  {
    margin-bottom: 5px;
    font-size: 40px;
}
.ToDoList-post-meta{
    margin-bottom: 20px;
    color: #999;
    font-style:italic;
}
background-color {
    color: black;
}

h1 {
    background-image: url("imges.jpg");
}
