 <!DOCTYPE html>
<html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/To Do List.css">
      <link rel="icon" href="data:;base64,iVBORwOKGgo=">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <header>
            <nav class="">
                <div class="nav-wrapper black">
                    <a href="#" class="brand-logo center"> TO DO LIST </a>
                    <ul class="right">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="admin.html">Admin</a></li>
                    </ul> 
                </div>   
            </nav>
        </header>
        <main>
            <div class="container dark-blue"></div>
                <h1 class="center-align">TO DO LIST</h1>
                
                <div class="row ">
            </div>
                <div class="row"></div>
                  <div class="col s12 main-container">
                </div>
        </main>
           
        
        <footer class="page-footer black">
            <div class="container">
                <p><a href="#">Back to the top my</a></p>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    @2016 Erik  Rodriguez
                </div>
            </div>
        </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/To Do List.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
      
      <script id="ToDoList-template" type="text/x-handlebars-template">
          {{#each posts}}
            <div class="ToDoList-post">
                <h2 class="ToDoList-post-title">{{title}}</h2>
                <p class="ToDoList-post-metal">At {{format created}} by {{authorEmail}}</p>
                <div>{{content}}</div>
                </div>
          {{#/each}} 
      </script>
    </body>
  </html>